/*
#323239
#fdb2b7
#57585d
#f8f7f5
#747579
*/

html{
    scroll-behavior: smooth;
}

body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: #5e5e6a;
    font-family: 'Rubik', sans-serif;
}

body::-webkit-scrollbar {
    -webkit-appearance: none;
}

body::-webkit-scrollbar:vertical {
    width:10px;
}

body::-webkit-scrollbar-button:increment,.contenedor::-webkit-scrollbar-button {
    display: none;
} 

body::-webkit-scrollbar:horizontal {
    height: 10px;
}

body::-webkit-scrollbar-thumb {
    background-color: #797979;
    border-radius: 20px;
    border: 2px solid #f1f2f3;
}

body::-webkit-scrollbar-track {
    border-radius: 10px;  
}

.content{
    display: flex;
    flex-direction: row;
}

.content .main{
    position: relative;
    margin-left: 3.8rem;
    width: 70%;
}

.content .main .card{
    background: #323239;
    padding: 30px;
    margin: 10px 0 20px;
    border-radius: 15px;
    border: solid 0.5px #f8f7f5;
    width: 100%;
}

@media (min-width: 426px){
    .content .main{
        width: 84vw;
        margin-left: 8vw;
    }
}