/*
FONDO: #323239
Rosita: #fdb2b7
Letras grises: #57585d
Letras blancas: #f8f7f5
Linea gris: #747579
*/


body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: #5e5e6a;
    font-family: 'Rubik', sans-serif;
}

body::-webkit-scrollbar {
    -webkit-appearance: none;
}

body::-webkit-scrollbar:vertical {
    width:10px;
}

body::-webkit-scrollbar-button:increment,.contenedor::-webkit-scrollbar-button {
    display: none;
} 

body::-webkit-scrollbar:horizontal {
    height: 10px;
}

body::-webkit-scrollbar-thumb {
    background-color: #797979;
    border-radius: 20px;
    border: 2px solid #f1f2f3;
}

body::-webkit-scrollbar-track {
    border-radius: 10px;  
}


.content{
    display: flex;
    flex-direction: row;
}

.main{
    position: relative;
    margin-left: 3.8rem;
    width: 70%;
}

.card{
    background: #323239;
    padding: 30px;
    margin: 10px 0 20px;
    border-radius: 35px;
    border: solid 2px #f8f7f5;
    width: 100%;
}

@media (min-width: 426px){
    .main{
        width: 84vw;
        margin-left: 8vw;
    }
}