

.img-profile{
    width: 75vw;
}

.title-image{
    display: flex;
    flex-direction: row;
}

.title{
    color: #f8f7f5;
    text-align: center;
}

.description{
    display: flex;
}

.line{
    width: 0.2rem;
    height: 7.8rem;
    margin-right: 1rem;
    background-color: #747579;
}

.name{
    color: #fdb2b7;
    line-height: 1rem;
}

.job{
    line-height: 0rem;
    color: #f8f7f5;
}

.location{
    display: flex;
    line-height: 0rem;
}

.location img{
    width: 1.5rem;
}

.location p{
    font-style: italic;
    color: #f8f7f5;
    font-size: 0.8rem;
}

.skills{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    max-width: 745px;
    margin: 3% auto;
}

.skills p{
    background: rgb(253, 178, 183, 0.6);
    padding: 10px;
    margin: 5px;
    border-radius: 10px;
}

button{
    border: solid #f8f7f5;
    background: #fdb2b7;
    /*border-radius: 100px;*/
    padding: 10px 30px;
    display: block;
    margin: 1rem auto;
    font-weight: bold;
    font-size: 1.1rem;
    cursor: pointer;
}

button:hover{
    border: solid #000000;
    transition: 0.3s;
}

button i{
    margin-right: 10px;
}

.redes div{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.redes div a{
    text-decoration: underline;
    color: #f8f7f5;
    margin: 0 5px;
    background: radial-gradient(black, transparent);
}

.redes div a:hover{
    background: black;
    transition: 0.3s;
}

.redes div img{
    width: 1.5rem;
}

.about-me-mob{
    display: none;
}

.title-image div .description-desktop{
    display: none;
}

.description-mobile{
    display: flex;
}

@media(min-width:426px){
    .oculto-desktop{
        display: none;
    }

    .about-me-mob{
        display: block;
        background-color: #cdcdcd;
        padding: 30px 15px;
        border-radius: 10px;
        box-shadow: 5px -5px 22px -15px #fdb2b7;
        max-width: 400px;
    }

    .title-image{
        justify-content: center;
        align-items: center;
    }

    .title-image img{
        width: 40%;
        /*max-width: 230px;*/
    }

    .title-image div{
        /*margin-left: 5%;*/
    }

    .title-image div .description-desktop{
        display: flex;
    }

    .description{
        display: none;
    }

    .job{
        line-height: 1rem;
        margin: 0;
    }

    .location{
        line-height: 1rem;
    }

    .location img{
        width: 4% !important;

    }

    .name{
        margin: 0 0 10px;
    }

    .line{
        height: auto;
    }

}

@media(min-width:768px){
    .title{
        font-size: 3rem;
    }
    .description-desktop .line{
        height: auto;
    }

    .description-desktop .datos .name{
        font-size: 1.4rem;
    }

    .description-desktop .datos .job, .description-desktop .datos .location p{
        font-size: 1rem;
    }

    .skills p{
        font-size: 1.1rem;
    }

    button{
        font-size: 1.4rem;
    }

    .redes div a{
        font-size: 1.1rem;
    }

    .name{
        font-size: 1.8rem;
    }

}

@media(min-width:1024px){
    #index{
        /*height: 85vh;*/
        justify-content: center;
        align-items: center;
        display: flex;
        flex-direction: column;
    }
}