.content-index{
    background: #323239;
    padding: 30px;
    margin: 5px 0;
    border-radius: 35px;
    border: solid 2px #f8f7f5;
    width: 100%;
}

.img-profile{
    border-radius: 100%;
    width: 35vw;
}

.title-image{
    display: flex;
    flex-direction: row;
}

.title{
    color: #f8f7f5;
}

.description{
    display: flex;
}

.line{
    width: 0.2rem;
    height: 7.8rem;
    margin-right: 1rem;
    background-color: #747579;
}

.name{
    color: #fdb2b7;
    line-height: 1rem;
}

.job{
    line-height: 0rem;
    color: #f8f7f5;
}

.location{
    display: flex;
    line-height: 0rem;
}

.location img{
    width: 1.5rem;
}

.location p{
    font-style: italic;
    color: #f8f7f5;
    font-size: 0.8rem;
}

.skills{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.skills p{
    background: rgb(253, 178, 183, 0.6);
    padding: 10px;
    margin: 5px;
    border-radius: 10px;
}

button{
    border: solid #f8f7f5;
    background: #fdb2b7;
    border-radius: 100px;
    padding: 10px 30px;
    display: block;
    margin: 1rem auto;
    font-weight: bold;
}

button i{
    margin-right: 10px;
}

.redes div{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.redes div a{
    text-decoration: none;
    color: #f8f7f5;
    margin: 0 5px;
    background: radial-gradient(black, transparent);
}

.redes div img{
    width: 1.5rem;
}